@charset "UTF-8";
@import url(http://fonts.useso.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin);
html, body {
    padding: 1em;
    margin: auto;
    background: #fefefe;
}
@media ( min-width: 1080px) {
    body {
        width: 900px;
    }
}
body {
    font: 1.3em "Vollkorn", Palatino, Times;
    color: #333;
    line-height: 1.4;
    text-align: justify;
}
h1, h2, h3 {
    font-weight: normal;
}
h3 {
    font-style: italic;
    margin-top: 2em;
}
p {
    position: relative;
    margin-top: 0;
}
ul {
    list-style: square;
    padding-left: 1.2em;
}
ol {
    padding-left: 1.2em;
}
blockquote {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 3px solid #ddd;
}
pre {
    position: relative;
    padding: 1em;
    border: 1px dashed #ddd;
    border-left: 2px solid #ddd;
    overflow-x: scroll;
}
code {
    font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
    font-size: .9em;
    background: #efefef;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 2px;
}
pre code {
    background: none;
    border: none;
    padding: 0;
}
a {
    color: #2484c1;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a img {
    border: none;
}
h1 a, h1 a:hover {
    color: #333;
    text-decoration: none;
}
img {
    max-width: 100%;
}
hr {
    color: #ddd;
    height: 1px;
    margin: 2em 0;
    border-top: solid 1px #ddd;
    border-bottom: none;
    border-left: 0;
    border-right: 0;
}
/* header
-------------------------------------------------------- */

header h1 {
    font-weight: normal;
    text-align: center;
    margin: 0;
}
header p {
    text-align: center;
    font-size: 0.85em;
    font-style: italic;
}
/* nav
-------------------------------------------------------- */

nav {
    padding: 0.5em;
    margin-bottom: 1em;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}
nav a {
    margin-right: 1em;
}
/* main
-------------------------------------------------------- */

main h1 {
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 0.5em;
}
.doc-item span {
    margin-right: 1em;
}
